[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = http://github.com/huyz/dircolors-solarized.git
    ignore = untracked
[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim
    ignore = untracked
