[submodule "_vim/bundle/git"]
	path = _vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/pydoc"]
	path = _vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "_vim/bundle/pep8"]
	path = _vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "_vim/bundle/tasklist"]
	path = _vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/pyflakes-pathogen"]
	path = _vim/bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "_vim/bundle/vcscommand"]
	path = _vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "_vim/bundle/go"]
	path = _vim/bundle/go
	url = https://github.com/fsouza/go.vim.git
[submodule "_vim/bundle/wikipedia"]
	path = _vim/bundle/wikipedia
	url = https://github.com/vim-scripts/wikipedia.vim.git
[submodule "_vim/bundle/puppet"]
	path = _vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "_vim/bundle/conque-term"]
	path = _vim/bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
[submodule "_vim/bundle/scala"]
	path = _vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/clojure"]
	path = _vim/bundle/clojure
	url = https://github.com/vim-scripts/VimClojure.git
